/* Fundo e cores principais */
body {
    background-color: #f4f1e1;
    font-family: 'Arial', sans-serif;
    color: #333;
    height: 100%; /* Garantir que a altura da página ocupe toda a tela */
    margin: 0;
}


.navbar {
    background-color: #3e2723;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: #f4e1d2 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #d49a6a !important;
}

/* Seção Hero */
.hero {
    background-image: url('img/Barbearia.webp');
    background-size: cover;
    background-position: center;
    color:white;
    padding: 400px 0;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}
/* Seção de Serviços */
.services {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.services h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #333;
}

.service-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.05);
}

.service-item p {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

/* Responsividade para telas menores */
@media (max-width: 767px) {
    .services h1 {
        font-size: 28px;
    }

    .service-item {
        margin-bottom: 20px;
    }
}
/* Seção de Produtos */
.products {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.products h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #333;
}

.product-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item p {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

/* Responsividade para telas menores */
@media (max-width: 767px) {
    .products h1 {
        font-size: 28px;
    }

    .product-item {
        margin-bottom: 20px;
    }
}

/* Rodapé */
footer {
    background-color: #3e2723;
    color: #f4e1d2;
    padding: 30px 0;
    margin-top: auto; /* Faz o rodapé ficar no final */
}

footer a {
    color: #f4e1d2;
    text-decoration: none;
}

footer a:hover {
    color: #d49a6a;
}

